{% extends "base.html" %}
{% block title %} Index {% endblock %}

{% block content %}
<div>
  <img src="/static/bg.gif" id="bg"></img>
<article>
  {% if let Some(title) = title %}
  <h1 id="i4">{{ title }}</h1>
  {% else %}
    <h1 id="i4">Welcome</h1>
  {% endif %}
  {% if let Some(slogan) = slogan %}
    <h2>{{slogan}}</h2>
  {% endif %}
<dl>
  {% if let Some(skills) = skills %}
    <dt><h2>Skillz</h3></dt>
    {% for skill in skills %}
      <dd>{{skill}}</dd>
    {% endfor%}
  {% endif %}
  {% if let Some(github) = github %}
    <dt><h2>Linkz</h3></dt>
    <dd><a href="https://github.com/{{github}}">GitHub</a></dd>
  {% endif %}
  <dt><h2>Contact</h3></dt>
  {% if let Some(mail) = mail %}
    <dd><a href="mailto:{{ mail }}">Mail</a></dd>
  {% endif %}
  {% if matrix.is_some() %}
    <dd>Matrix</dd>
  {% endif %}
  {% if threema.is_some() %}
    <dd>Threema</dd>
  {% endif %}
</dl>
</article>
<div>
{% endblock %}
