{% extends "base.html" %}
{% block title %} Index {% endblock %}

{% block content %}
<div>
  <img src="/static/bg.gif" id="bg"></img>
<article>
<h1 id="i4">i401</h1>
<h2>仕方がない</h2>
<dl>
  <dt><h2>Skillz</h3></dt>
  <dd>Go, Rust, C, Powershell and other stuff</dd>
  <dd>Useless (and useful) Microsoft knowledge</dd>
  <dd>GNU/Linux connoisseur</dd>
  <dd>Red/Blue and purple team</dd>
  <dt><h2>Linkz</h3></dt>
  <dd>GitHub</dd>
  <dd>Maki</dd>
  <dt><h2>Contact</h3></dt>
  <dd>Mail</dd>
  <dd>Matrix</dd>
  <dd>Threema</dd>
</dl>
</article>
<div>
{% endblock %}
